<% @books.each do |book| %>
  <div class="book-box">
    <div class="book-comment">
      <span class="book-body"><%= book.body %></span>
      <span class="book-title"><%=link_to book.title, book_path(book.id) %></span>
    </div>
  </div>
<% end %>
</div>


<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<h1>投稿一覧</h1>

<% @books.each do |book| %>

　<%= book.title%>

　<%= book.body%>

　<%=link_to "Show",book_path(book.id) %>
  <%=link_to "Edit",edit_book_path(book.id) %>
　<%=link_to "Destroy",destroy_book_path(book.id),method: :delete, "data-confirm" => "本当に削除しますか？"%>
　<br>


<% end %>